.bg-img {
    background-color: blanchedalmond;
    /* Full height */
    background-image: url(v.bac.jpg);
    min-height: 1000px;
    /* Center and scale the image nicely */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
  }
  .head{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  .container{
    height: 10%;
  }
  .img1{
    max-width: 12%;
    padding-left: 0%;
    padding-top: 0%;
  }
  * {
    box-sizing: border-box;

  }
  .row {
    display: flex;
}
.button{
  text-align: right;
  padding-right: 11px;
  border-color: rgb(65, 33, 11);


}
.img {
  border: 5px solid rgba(72, 245, 187, 0.884);
  width: 300px;
  background-color:rgb(0, 190, 140);
  box-shadow: 10px 10px;

  
}
  
  /* Create three equal columns that sits next to each other */
.column {
    flex: 33.33%;
    padding: 90px; 
      
  }
  .desc {
    background-color: aliceblue;
    text-align:center;
    padding-right:5%;
    height: 60px;

  }